.DS_Store
bin/
build/
dist/
/*.lnk
/Transliterator.jcw
/P1.jcp
/src_p1.txt
/Transliterator.jcd
/Transliterator.jcu
*.class
/res/morpho/COPYING.txt
/res/morpho/Exceptions.txt
/res/morpho/Lexicon.xml
/res/morpho/morfoetalons.txt
/res/morpho/morphology.jar
/res/morpho/Statistics.xml
/res/morpho/TagSet.xml
/.gitignore
